body {
font-size: large;
background-color:#ccccee;
}

*{
font-family : sans-serif ;
}
h2 {
font-size: 100%;
border-style: solid;
border-width: 3px 0px;
border-color: #333355;
color: navy;
background-color: #eeeeff;
padding: 0px 2px;
margin: 1px ６px;
display:block;
}

h3 {
font-size: 150%;
border-style: solid;
border-width: 10;
border-color: #999999;
color: navy;
background-color: #cccccc;
padding: 1px 8px;
border-radius: 10px;
display:block;
}
h4{
margin:0px;
text-align:center;
letter-spacing:0.5em;
color: navy;
}

p {
margin: 10px 15px;
padding: 5px 10px;
background-color: #eeeeee;
border-radius: 10px;
}

p.c2 {
display:block;
column-count: 2;
-moz-column-count: 2;
column-rule:dotted 3px #ccccee;
-moz-column-rule:dotted 3px #ccccee;
}

section{
background-color:#eeeeee;
margin: 10px 15px;
padding: 1px;
border-radius: 15px;
}


section.h3lv{
background-color:#ddddff;
margin: 15px 5px;
padding: 1px;
border-radius: 15px;
}
